.pagination {

  &__container {
    display: flex;
    list-style-type: none;
    align-items: center;
    width: 90%;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 10px;
  }

  &__item {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 1px;
  }

  &__link {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 25px;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.active {
  color: #fff568;
}
