.pagination {

  &__container {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
  }

  &__item {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 1px;
  }

  &__link {
    font-size: 12px;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 8px;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  //background-color: rgba(0, 0, 0, 0.3);
}

.active {
  color: #fff568;
}