.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
  opacity: 0;
  pointer-events: none;

  &__title {
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border-bottom: 2px solid #000000;
    margin: 0 0 10px 0;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    padding: 20px;
    border-radius: 4px;
    background-color: #fff568;
    transform: scale(.5);
    transition: .5s all;
    width: 50vw;

    &.active {
      transform: scale(1);
    }
  }
}