.row {
  font-size: 12px;

  &:hover {
    //background-color: rgba(0, 0, 0, 0.7);
    color: black;
    background-color: rgba(242, 242, 242, 0.8);
  }

  //text-shadow: 4px 7px 2px rgba(242, 242, 242, 0.4);

  td {
    padding: 5px;
    //border: 3px solid rgba(242, 242, 242, 0.1);
  }
}