.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  height: 80vh;

  thead {
    tr {
      height: 50px;
      font-size: 14px;
      font-weight: bold;
    }

    th {
      //border: 3px solid rgba(242, 242, 242, 0.3);

      &:nth-child(1) {
        width: 5%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 30%;
      }

      &:nth-child(5) {
        width: 25%;
      }

      &:nth-child(6) {
        width: 10%;
      }
    }

  }
}
.filters__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}