.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);

  .filters__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
