.filter {
  background-color: #fff568;
  padding: 8px;
  width: 200px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 12px;
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 0;
  }
}
