.input {
  display: inline-block;
  padding: 8px;
  width: 400px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: rgba(242, 242, 242, 0.8);
  //margin: 10px 0;
  margin-top: 15px;
  font-size: 12px;
}